@import "./base.scss";

div {
  display: flex;
  flex-direction: row;
  text-transform: capitalize;
  justify-content: center;
}
input {
  outline: none;
}
img {
  width: auto;
  height: inherit;
}
.container {
  flex-direction: column;
  align-items: center;
}
body {
  margin: 0;
}
a {
  color: var(--c-grey);
}
