@import "./base.scss";

div {
  display: flex;
  flex-direction: row;
  text-transform: capitalize;
  justify-content: center;
  box-sizing: border-box;
  text-align: center;
}
input {
  outline: none;
  box-sizing: border-box;
}
img {
  width: auto;
  height: inherit;
}
body {
  margin: 0;
}
a {
  color: var(--c-grey);
  box-sizing: border-box;
}
.container {
  flex-direction: column;
}
.material-icons {
  font-size: var(--is-medium);
  font-weight: var(--fw-s-large);
  color: var(--c-text);
  cursor: pointer;
}
.router-view {
  flex-grow: 1;
  overflow-y: auto;
}
